.aboutWrapper {
  height: 70vh;
  width: 100vw;
  margin-left: 0%;
}
.aboutWrapper.row {
  margin-left: 0px;
  margin-right: 0px;
}
.aboutWrapper .flexWrap img {
  padding: 5% 0% 5% 0%;
  width: 90%;
}
.aboutWrapper h2 {
  font-family: "Open Sans";
  color: #e1496c;
  font-weight: 800;
}
.aboutWrapper h4 {
  font-family: "Open Sans";
}
.aboutWrapper p {
  margin-top: 5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
}

.aboutWrapper .flexWrap {
  height: 70vh;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutWrapper .flexWrap .buttonSize {
  width: 50%;
}

@media only screen and (max-width: 728px) {
  .aboutWrapper .flexWrap .buttonSize {
    font-size: 14px;
    width: 100%;
  }
  .aboutWrapper {
    height: auto;
  }
  .flexWrap h1 {
    font-size: 28px;
  }
  .aboutWrapper .flexWrap {
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
