.downloadWrapper {
  height: 70vh;
  width: 100vw;
  margin-left: 0%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadWrapper.row {
  margin-left: 0px;
  margin-right: 0px;
}

.buttonWrapper {
  padding: 0% 1% 1% 0%;
}
.downloadWrapper h1 {
  margin-bottom: 5%;
  font-family: "Open Sans";
  color: white;
  font-weight: 800;
  text-align: center;
}
.downloadWrapper h4 {
  font-family: "Open Sans";
}

.downloadWrapper .flexWrap {
  height: 70vh;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.downloadWrapper .flexWrap .buttonSize {
  width: 50%;
}

@media only screen and (max-width: 728px) {
  .downloadWrapper .flexWrap .buttonSize {
    font-size: 14px;
    width: 100%;
  }
  .downloadWrapper {
    height: auto;
  }
  .flexWrap h1 {
    font-size: 28px;
  }
  .downloadWrapper {
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .buttonWrapper {
    width: 10%;
  }
}
