.footer {
  background-color: #262626;
  min-height: 30vh;
  padding: 2.5% 5% 2.5% 5%;
}

.footer .socmed {
  float: right;
  padding-inline-end: 2.5%;
}
.fullWidth {
  max-width: 100vw;
  overflow: hidden;
}
@media only screen and (max-width: 728px) {
  .footer .asset {
    position: relative;
    margin-top: 5%;
  }
  .footer .socmed {
    float: left;
  }
}
