.guideWrapper {
  height: 70vh;
  width: 100vw;
  margin-left: 0%;
  background-image: url("bgLogo.png");
  background-attachment: fixed;
  background-size: cover;
}
.guideWrapper.row {
  margin-left: 0px;
  margin-right: 0px;
}
.guideWrapper .flexWrap img {
  padding: 5% 0% 5% 0%;
  width: 90%;
}
.guideWrapper .flexWrap {
  height: 70vh;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.guideWrapper .flexWrap .buttonSize {
  width: 50%;
}
.flexWrap h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;

  color: #555555;
}
@media only screen and (max-width: 728px) {
  .guideWrapper .flexWrap .buttonSize {
    font-size: 14px;
    width: 100%;
  }
  .guideWrapper {
    height: auto;
  }
  .flexWrap h1 {
    font-size: 28px;
  }
  .guideWrapper .flexWrap {
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
