.hero {
  height: 100vh;
}

.heroStyle {
  height: 100vh;
}
.imgStyle {
  height: 100vh;
  object-fit: cover;
}
.headerStyle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 50pt;
}
.heroOverlay {
  position: absolute;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.textContainer {
  font-family: "Open Sans";
  position: absolute;
  margin: 25vh 0vw 0vh 5vw;
  z-index: 10;
  color: white;
  width: 80vw;
}
.headerSub {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 24pt;
  font-weight: 300;
}
.buttonStyle {
  background: #e1496c;
  border: none;
  margin-top: 5%;
  font-style: normal;
  color: white;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 1% 10% 1% 10%;
}

@media only screen and (max-width: 600px) {
  .textContainer {
    margin-top: 80%;
  }
  .headerStyle {
    font-size: 10vw;
  }

  .headerSub {
    font-size: 5vw;
  }
}
