.howToWrapper {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100vw;
}
.howToWrapper h2 {
  font-family: "Open Sans";
  color: #e1496c;
  font-weight: 800;
  text-align: center;
}

.howToWrapper .screen {
  width: 100%;
}

.background-enter {
  transform: translate(100%);
}
.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.background-leave {
  transform: translate(0%);
}
.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

.howToWrapper p {
  font-family: "Open Sans";
  text-align: center;
}
.leftPane {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.howToWrapper button {
  width: 40px;
  height: 40px;
  border: 2px solid #e1496c;
  border-radius: 50%;
  box-sizing: border-box;
}
.howToWrapper button:hover {
  background-color: #e1496c;
  transition: background-color 500ms linear;
  color: white;
}
.howToWrapper .fill {
  border: 2px solid #e1496c;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  background: #e1496c;
}

.howToWrapper .strokes {
  border: 2px solid #e1496c;
  color: #666666;
  border-radius: 50%;
  box-sizing: border-box;
}

.howToWrapper .wrapper {
  padding: 2.5% 5% 0% 5%;
}
.howToWrapper .steps .text h3 {
  font-size: 20px;
}
.mobActive h3 {
  font-size: 20px;
  color: #e1496c;
  text-align: center;
}
.howToWrapper .steps .active {
  color: #e1496c;
}
.mobActive p {
  font-size: 12px;
}
.mobActive {
  padding: 0% 5% 0% 5%;
}
.wrapper {
  width: 100vw;
}
.howToWrapper .steps .text p {
  text-align: left;
  font-size: 12px;
}
.howToWrapper .steps img {
  margin: 20% 0% 20% 0%;
  align-self: center;
}
.mobile {
  display: none;
}
.mobActive {
  display: none;
}

.mobInactive {
  display: none;
}

@media only screen and (max-width: 728px) {
  .howToWrapper {
    height: 100vh;
  }
  .web {
    display: none;
  }
  .mobActive {
    display: block;
  }

  .mobInactive {
    display: none;
  }
  .mobile {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
  }
  .stepsMobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inactive {
    display: none;
  }
  .active {
    width: 100vw;
  }
}
