.postItem {
  height: 100%;
  width: auto;
}
.postItem img {
  height: 100%;
  width: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: auto;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.postItem:hover .overlay {
  height: 100%;
}

.postItem .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer .asset {
  position: absolute;
  bottom: 0;
  right: 0;
}
